{% extends "base.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="POST">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirmation" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="capital" name="capital" placeholder="Capital" type="text" required>
        </div>
        <div class="mb-3">
            <label for="balloon_size">Balloon Size:</label>
            <select id="balloon_size" name="balloon_size" required>
                <option value="">--Select--</option>
                <option value="small">Small</option>
                <option value="big">Big</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit" value="Register">Register</button>
    </form>
{% endblock %}
