{% extends "base.html" %}

{% block title %}
    Select City - Balloon Travel
{% endblock %}

{% block main %}

    <h1>Select City</h1>
    <form action="/select" method="POST">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="from" name="from" placeholder="From" type="text" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="to" name="to" placeholder="To" type="text" required>
        </div>
        <input type="submit" value="Submit">
    </form>

{% endblock %}
